name: pytest-html

# This was added to record timing from the pytest-json-report extension, in an
# attempt to figure out why coverage is so slow on PyPy
# See https://github.com/pytest-dev/pytest-html/pull/518

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/pytest-html.yml'

  schedule:
  #        ┌───────────── minute (0 - 59)
  #        │ ┌───────────── hour (0 - 23)
  #        │ │ ┌───────────── day of the month (1 - 31)
  #        │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
  #        │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
  #        │ │ │ │ │
  - cron: "0 2 * * 0"

jobs:
  test_python:
    name: pytest-html ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: pypy3.10-nightly-ubuntu
            toxname: pypy3
            python-version: pypy-3.10-nightly

          - os: windows-latest
            name: pypy3.9-nightly-windows
            toxname: pypy3
            python-version: pypy-3.9-nightly

    steps:
      - name: Set Newline Behavior
        run : git config --global core.autocrlf false

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - uses: actions/checkout@v3
        with:
          repository: pytest-dev/pytest-html
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix['python-version'] }}

      - name: Show compiler version and locale
        run: |
          echo gcc --version
          gcc --version
          echo "-----------"
          echo locale
          locale
        if: matrix.os == 'macos-latest' || matrix.os == 'ubuntu-latest'

      - name: Install tox
        run: python -m pip install --upgrade pip tox

      - name: Test with tox
        run: |
          python -m tox -e ${{ matrix.toxname }} -- testing/test_unit.py
